/* html {
    cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
} */
.navul {
    position:sticky;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow:hidden; /* Prevents list items from going outside of the list */
    background-color: #222222;
}

.navli {
    float: left;
    border-right: 1px solid #bbbbbb;
}

.navlilswitch {
    float: right;
}

.navlilswitch :hover{
    font-size: 140%;
}

.nava, .lswitch {
    display:block;
    color:aqua;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    padding: 12px 14px;
}

.navli :hover {
    background-color: #444444;
    font-size: 100%;
}

.lswitch{
    background-color: transparent; /* Makes the background fully transparent */
    border: none;             /* Removes the default border */
    cursor: pointer;          /* Keeps the hand cursor on hover */
    padding: 0;               /* Optional: removes default padding */
    outline: none;            /* Optional: removes the outline when the button is focused/clicked (use with caution for accessibility) */
    float:right;
    font-size: 120%;
}

.cpane {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;

  background-color: #333333;
}

.cpane p {
    color: aliceblue;
    font-size: 26px;
}

.cpane .titl, .cpane .stitl {
    position: relative;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
}

.cpane .titl {
    font-size:90px;
}

.cpane .t1{
    color:honeydew;
    font-size: 60px;
}

.cpane .introvid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;  /* fill screen nicely */
  opacity: 0.3;       /* 50% opacity */
}

.cpane::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.cpane .introvid {
  pointer-events: none; /* user cannot click */
}

#logo{
    position:relative;
    width:60px;
}
